.product-page{
padding:140px 40px;
}

.product{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
padding:40px;
}

.product-swiper{
width:100%;
}

.image-box{
width:100%;
height:450px;
background:rgba(255,255,255,.04);
border-radius:24px;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

.image-box img{
width:100%;
height:100%;
object-fit:contain;
transition:.3s;
}

.image-box img:hover{
transform:scale(1.03);
}

.info{
display:flex;
flex-direction:column;
gap:20px;
justify-content:center;
}

.info h1{
font-size:56px;
}

.info h2{
font-size:42px;
color:var(--accent);
}

.info p{
opacity:.85;
line-height:1.8;
}

@media(max-width:900px){

.product{
grid-template-columns:1fr;
}

.image-box{
height:320px;
}

}